[Unit]
Description=RPC security service for NFS server
Requires=var-lib-nfs-rpc_pipefs.mount
After=var-lib-nfs-rpc_pipefs.mount
PartOf=nfs-server.service

Requisite=nfs-secure.target
After=nfs-secure.target

[Service]
EnvironmentFile=-/run/sysconfig/nfs-utils
ExecStartPre=-/usr/lib/systemd/scritps/nfs-utils_env.sh

Type=forking
ExecStart=/usr/sbin/rpc.svcgssd $SVCGSSDARGS
